.App {
  text-align: center;
}

h1{
  margin-top:10%;
}

.button {
  width: 190px;
  height: 30px;
  margin-bottom: 15%;
  margin-top: 10%;
}

.breweries{
  
  width: 30%;
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px;
  background: white;
  
}

.brewList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,90,1) 35%, rgba(0,212,255,1) 100%);
  /* margin-left: 5%; */
}
.image{
  width: 80%;
}
